*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
}
img{
    width: 200px;
    height: 200px;
}
.container{
    display: block;
    margin: 50px;
}
.first{
    background-color: burlywood;
    width: 100%;
    height: 200px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}
.second{
    background-color: darksalmon;
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}
.third{
    background-color: rgb(82, 100, 182);
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-between ;

}